.expenses-div {
  margin: 20px;
  padding: 10px;
}

.expense-manager{

  margin-top: -3px;

}

.expense-history{
  text-align: center;
  border-bottom: 1px dotted black;
  padding-bottom: 14px;
}

ul {
  list-style-type: none;
  padding: 0;
}
.type-div.data{
  margin: 0px;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  margin-top: 20px;
}

.filters label {
  margin-right: 20px;
  margin-bottom: 10px;
}

.filters .select-container {
  width: 200px;
}

.filter-wise-div {

  display: flex;
  flex-direction: column;
  border: 1px dotted black;
  border-radius: 10px;
  padding: 5px;
  margin-top: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filter-wise-header {
  margin-left: 10px;
  margin-right: 10px;
  

  text-align: left;
  font-size: 1.5rem;
  color: #333;
  text-transform: uppercase;
  border-bottom: 2px solid #b6b7b8;
  padding-bottom: 0.5rem;
}
.customer-list{
  padding-bottom:  10px;
  border-bottom: 2px solid #000000;
/*  
  margin-left:10px;
  margin-right:10px; */
}

.customer-list .filter-wise {
  /* display: flex;
  align-items: center;
  background-color: red; */
  text-align: center;
  font-size: 30px;
  .customer-name{
    font-size: 30px;
    margin-right: 20px;
  }
  
}
.category-data-list{
  margin: 0 auto;
  width: 20%;
 
}

.category-data-list .filter-wise {
  display: flex;
  justify-content: space-between;
  font-size: 20px;


  .category-data-name{
    color: black;

  }

}

.filter-wise .customer-name, .filter-wise .category-data-name {
  font-weight: 600;
  color: #007bff;
  margin-bottom: 10px;
}

.filter-wise-total {
 
  color: #28a745;
  font-weight: bold;
}

.expense-items {
  margin-top: 20px;
}
.expense-items:hover{
  cursor: pointer;
}

.date-card {
  background-color: #ffffff;
  
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: rgba(238, 238, 238, 0.63);
}

.date-header {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.date-info {
  font-size: 1.5em;
  color: #000000;
}

.date-total {
  font-size: 1.2em;
  color: #777;
}

.total-month-revenue {
  font-weight: bold;
  font-size: 1.2em;
  background-color: #28a745;
  padding:5px 8px ;
  
  color: #fff;
  border-radius:30px ;
}

.customer-card {

  background-color: #6dcfeb;


  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin-top: 0px;
}

.customer-info-div {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 20px;
}

.mobile-no {
  margin-left: 20px;
}

.customer-expenses {
  margin-top: 20px;
  width: 100%;
}

.customer-expenses table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

.customer-expenses th,
.customer-expenses td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */

}

.customer-expenses th {
  background-color: #eae9e9;
  font-weight: bold;
}

.customer-expenses tbody tr:nth-child(even) {
  background-color: #c6f4fb;
}

.total-revenue {
  margin: 10px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
 color: rgb(255, 0, 0);
}

.label-table {
  display: flex;
  align-items: center;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.modal-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-actions button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-actions button:hover {
  background-color: #6b6c6c;
}
.modal-delete-btn{
  background-color: rgb(215, 2, 2);
  color: #fff;
}
.expense-header-left-arrow{
  display: flex;
  align-items: center;
  justify-content: start;
  



  h2{
    text-align: center;
   border-bottom: 1px dotted black;
   padding-bottom: 20px;
   margin-top: 10px;
    width: 100%;

  }
  .left-arrow-ex{
    position: absolute;

    opacity: 0;
  }

 
  .left-arrow-ex.true{

    opacity: 1;
  left: 10px;
  top: 14px;
  }
  
}
.left-arrow.true
{
  opacity: 0;

}




@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    margin: 10px;
  }

  .filters label {
    margin-right: 0;
    width: 100%;
    margin-top: 18px;
  }

  .filters .select-container {
    position: absolute;
    margin-top: 10px;
    left: 100px;
    width: 68%;
  }

  .customer-info-div {
    font-size: 14px;
    margin-left: 10px;
  }

  .customer-expenses {
    width: 100%;
    border-collapse: collapse;
    font-size: 10px;
    table-layout: fixed; /* Ensure consistent column widths */
  }
  
  .customer-expenses th,
  .customer-expenses td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
    /* white-space: nowrap;
    overflow: hidden;  */
  }
  .customer-expenses td {

    font-size: 13px;
  }
  
  .customer-expenses th {
    width: auto;
  }
  
  .customer-expenses td {
    width: auto; /* Ensure td expands to fit content */
  }
  
  .td-scroll {
    max-height: 500px; /* Example: Set max height for td content */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds max height */
  }
  
  .td-scroll::-webkit-scrollbar {
    height: 0px;
  }
  
  .td-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .td-scroll::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
  }
  
  /* Hide scrollbar for Webkit browsers */
  .td-scroll::-webkit-scrollbar {
    display: none; 
  }
  
  /* Show scrollbar on hover */
  .td-scroll:hover::-webkit-scrollbar {
    display: block;
  
  }
  

  .date-info {
    font-size: 1em; /* Adjust font size for mobile */
  }

  .date-total,
  .total-month-revenue {
    font-size: 0.9em; /* Further reduce font size for mobile */
  }

  .filter-wise-header {
    font-size: 1rem; 

  }

 
  
  .customer-list .filter-wise-total {

    font-size: 30px;
  
  }
  .category-data-list{
    /* display: flex;
    align-items: center;
    width: 100%; */
    width: 50%;


   

  }
  
  .category-data-list .filter-wise{
    font-size: 17px;

    .filter-wise-total{
      font-size: 17px;
    
     
    }

  }

  .total-revenue {
    font-size: 1rem; /* Adjust font size for mobile */
  }

 

  .expenses-div {
    margin: 0px;
    padding: 5px;
  }

  .date-card {
    padding: 0px;
  }

  .customer-card {
    padding: 3px;
    border-radius: 0px;
  }

  .customer-expenses th,
  .customer-expenses td {
    padding: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    /* Further adjust padding for smaller screens */
  }

  .date-info,
  .date-total {
    font-size: 20px;
    
  }

  .filter-wise-header {
    font-size: 12px; /* Further adjust font size for smaller screens */
  }

  .filter-wise,
  .filter-wise-total {
    font-size: 14px; /* Further adjust font size for smaller screens */
  }

  .total-revenue {
    font-size: 14px; /* Further adjust font size for smaller screens */
  }
}
