/* ProductDetails.css */

.one-product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
 background-color: #5a42835f;


 
   
    max-width: 800px;
    height: 100%;
    padding-bottom: 50px;

    margin: 0px auto;
  
}

.one-product-details h1 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;

    color: #5a4283;
  
  
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}


.one-product-image {
    
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.product-image {
    max-width: 80%;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.one-product-name {
 
    color: #000000;
    width: 100%;
   
     
font-family: 'Playfair Display', serif;
text-transform: capitalize;
    
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.details-card {
    width: 80%;
    padding: 15px;
     background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    

    text-align: center;
}
.table-details{
    display: flex;
  
    background-color: #5a4283;
   
    justify-content: center;


  
}
 .table-details table {
    width: 100%;
    border-collapse: collapse;


}


.table-details td { 
    padding: 15px;
    font-size: 1.2rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.table-details td:first-child {
     
    font-weight: bold;
    color: #fff;
    
 
}

.table-details td:nth-child(even) {

    
    color: #FFD700;
   



}




.product-order-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: 20px auto;
    transition: opacity 5s ease-in-out, visibility  5s ease-in-out;
    opacity: 1;
    visibility: visible;

  }
  
  .product-order-form label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .order-header{
    text-align: center;
    padding-bottom: 10px;
   border-bottom: 1px solid black;
  }
  .product-order-form input[type="text"],
  .product-order-form textarea {
    padding: 12px;
    border: 2px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    
    transition: border-color 0.3s, box-shadow 0.3s;
  }
  .order-input{
    margin-top: 10px;
  }
  
  .product-order-form input[type="text"]:focus,
  .product-order-form textarea:focus {
    border-color: #25D366;
    box-shadow: 0 0 8px rgba(42, 157, 143, 0.2);
    outline: none;
  }
  
  .product-order-form .flavour-select-input {
    margin-top: 5px;
  }
  .isOrder{
   width: 88%;
   height: 49px;
   margin-top: 20px;
   display: flex;
   margin-bottom: 0px;
   align-items: center;
   justify-content: center;
   background-color: #ff9d00;
color: #fff;
   font-size: 20px;
   border: 1px solid;
   border-color:#fff ;
   border-radius: 5px;

   

  }
  
  .share-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  
  }
  .product-order-form button {
    padding: 12px 20px;
    background-color: #25D366;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .product-order-form button:hover {
    background-color: #25D366;
    transform: scale(1.05);
  }
  
  .product-order-form button:active {
    background-color: #25D366;
  }
  